.tutorial {
    &-card-dashboard {
     // min-height: 9rem;
     // min-width: 10%;
     width: 30rem;
     border-radius: 10px;
     position: absolute;
     right: 25rem;      
     }
    &--title {
     background: #000000;
     display: flex;
     flex-direction: row;
     justify-content:space-between;
     color: aliceblue;
     padding: 1rem 1.5rem 1rem 1.5rem;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     &-close {
         display: flex;
     }
     &-text {
        padding-right: 0.5rem;
     }
     &-btn {
         text-decoration: none;
         border: 1px white solid;
         border-radius: 50%;
         background-color: transparent;
         color: white;
     }
    }
    &--text {
     background: #fff6bc;
     display: flex;
     justify-content: center;
     padding: 1.5rem 1.5rem 0 1.5rem;
    }
    &--bottom {
     display: flex;
     justify-content:space-between;
     padding: 1.5rem;
     background: #fff6bc;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
      &-left {
         text-decoration: none;
         border: none;
         background-color: transparent;
 
     }
     &-right {
         background-color: #FFE433;
         text-decoration: none;
         border: none;
         padding: 0.5rem 1.5rem;
 
     }
    }
 }
 
 .tooltiptail-dashboard {
     display: block;
     border-color:  #ffffff #fff6bc #ffffff #ffffff ;
     border-style: solid;
     border-width: 20px;
     width: 0px;
     height: 0px;
   }
 
   .tutorial-container {
       display: flex;
       flex-direction: row;
   }
 
   .tutorial-card-dashboard {
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     right: 13rem;
     bottom: -4.5rem;
 
   }
 
   .tutorial-card--card {
     margin-right: -11px !important
   }