.utu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  &.show {
    display: block;
  }

  &.hide {
    display: none;
  }

  &--container {
    background: #FFFFFF;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;

    position: fixed;
    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .utu-modal-close {
      position: absolute;
      right: 0;
      top: 10px;
      width: 32px;
      height: 32px;
      opacity: 0.8;
      cursor: pointer;

      -webkit-transition: -webkit-transform 1s ease-in-out;
      transition: transform 1s ease-in-out;
      transform-origin: center;
      transform-style: preserve-3D;

      &:hover {
        opacity: 1;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  .body {
    margin-bottom: 20px;
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin-right: 20px;
    }
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: fade-out(#000000, 0.05);
}

@media screen and (max-width: 600px) {
  .utu-modal {
    &--container {
      width: 90%;
    }
  }
}