.details-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;


  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .icon {
      margin-right: 30px;

      img {
        max-width: 90px;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .title {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 10px;

        &--sub {
          font-weight: 400;
        }
      }

      .information {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  .action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
      margin-right: 10px;
    }
  }

  &__loading {
    max-width: 100%;

    .description {
      flex: 1;
    }
    .icon {
      width: 70px;
      min-height: 70px;
      border-radius: 4px;

    }

    .details {
      flex: 1;
    }

    .title {
      width: 100%;
      min-height: 28px;
      border-radius: 4px;
    }

    .information {
      min-height: 42px;
      border-radius: 4px;
      width: 100%;
    }

    .action {
      max-width: 120px;
      flex: 1;
      min-height: 40px;
      margin-left: 20px;
      border-radius: 4px;

    }
  }
}

@media screen and (max-width: 600px) {
  .details-card {
    margin-bottom: 40px;
  }
}