.fs-xxs {
  font-size: 8px !important;
  line-height: 120% !important;
}

.fs-xs {
  font-size: 10px !important;
  line-height: 120% !important;
}

.fs-s {
  font-size: 12px !important;
  line-height: 120% !important;
}

.fs-m {
  font-size: 14px !important;
  line-height: 130% !important;
}

.fs-l {
  font-size: 16px !important;
  line-height: 140% !important;
}

.fs-xl {
  font-size: 18px !important;
  line-height: 143% !important;
}

.fs-xxl {
  font-size: 20px !important;
  line-height: 145% !important;
}

.fs-xxxl {
  font-size: 24px !important;
  line-height: 150% !important;
}